.form {
	max-width: 350px;
	display: flex;
	flex-direction: column;
	padding: 40px;

	background: #36393f;
	box-shadow: 0 2px 10px 0 rgb(0 0 0 / 20%);
	border-radius: 5px;
	max-width: 450px;
	width: 100%;
	margin: 20px 0;
}

.formTitle {
		font-weight: 600;
		margin: 0px;
		font-size: 24px;
		line-height: 30px;
		color: #fff;
		text-align: center;
}

.formDescription {
	font-size: 16px;
	line-height: 20px;
	color: #b9bbbe;
	text-align: center;
	margin-bottom: 0;
}

.formWrapper {
	margin-top: 18px;
}

.formLabelText {
	color: #8e9297;
	font-size: 12px;
	line-height: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 8px;
	display: block;
}

.formLabelText span {
	color: rgb(219, 75, 75)
}

.input {
	width: 100%;
	padding: 10px;
	height: 18px;
	max-height: 40px;
	border-radius: 3px;
	color: #dcddde;
	background: rgba(0, 0, 0, .10196078431372549);
	border: 1px solid rgba(0, 0, 0, .30196078431372547);
	transition: border-color .2s ease-in-out;
}

.input:autofill {
	border-color: #222428;
	-webkit-box-shadow: inset 0 0 0 50px #303339 !important;
	-webkit-text-fill-color: #fff !important;
	color: #fff !important;
}

.formButton {
	color: #fff;
	background-color: #7289da;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 8px;
	height: 35px;
	max-height: 44px;
	min-width: 130px;
	min-height: 44px;
	font-weight: 500;
	border-radius: 3px;
	transition: background-color .17s ease, color .17s ease;
	padding: 0 20px;
	border: 0;
	width: 100%;
}

.formButton:hover {
	background-color: #677bc4;
	cursor: pointer;
}

.formError {
	color: rgb(234, 114, 114);
}