.users {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.usersTitle {
    width: 100%;
    margin: 15px 0 0 25px;
    border-bottom: 1px solid #444444;
    padding-bottom: 15px;
    font-size: 1.1rem;
    color: #888;
    text-align: left;
    text-transform: uppercase;
}

.usersTitle svg {
    margin-right: 10px;
}

.usersButton {
    padding: 20px;
}

.usersButton button {
    padding: 10px 20px;
    background: #4872a3;
    border-radius: 3px;
    border: none;
    color: #fff;
}

.usersButton button:hover {
    background: #88bbf7;
    cursor: pointer;
}

.usersList {
    display: grid;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 20px;
    margin: 30px 30px;
}

.usersItem {
    padding: 20px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: #3c3c3c;
}

.usersName {
    line-height: 30px;
    font-weight: 600;
    font-size: .8rem;
    color: #ccc;
}

.usersButtons {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
}

.usersButtons button {
    width: 100%;
    background: #3f6873;
    border: none;
    border-radius: 6px;
    padding: 5px 0;
    color: #fff;
}

.usersButtons button:hover {
    cursor: pointer;
    background: #1c7b94;
}

.userPhoto img {
    width: 100px;
    height: 100px;
}