.nav {
    display: flex;
}

.item {
    font-size: .8rem;
    font-weight: bold;
    margin-left: 20px;
    letter-spacing: 1px;
}

.link {
    color: #cbcbcb;
}

.link svg, .active svg {
    margin-right: 4px;
}

.link:hover {
    color: #78a2e3;
}

.active {
    color: #a1bcd5;
}