.app-wrapper {
    display: grid;
    width: 1200px;
    margin: auto;

    grid-template-areas:
            "h h"
            "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /*grid-gap: 10px;*/
}

.header {
    grid-area: h;
    background: aquamarine;
}

.header img {
    width: 30px;
    height: 30px;
}

.nav {
    grid-area: n;
    background: bisque;
}

.content {
    grid-area: c;
    background: azure;
}