.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {
    background: #444444;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.dialog a {
    color: #a19b9b;
}

.dialog .active {
    background: #4c87cb;
}

.messages {
    display: flex;
    padding: 15px;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #303030;
}

.message {
    background: #363636;
    margin-bottom: 10px;
    padding: 10px 10px;
    color: #ccc;
}