.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    padding: 10px;
}

.dialog {

}

.dialog.active {
    color: gold;
}

.messages {
    padding: 10px;
}

.message {

}