.form {
	display: flex;
	flex-direction: column;
	width: 60%;
	margin: 10px;
	padding: 30px;
	background-color: #383838;
	border-radius: 5px;
	margin: 25px 0;
	box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

.itemCheckbox {
	display: flex;
	margin-bottom: 20px;
}

.itemCheckbox span {
	color: #ccc;
	margin-right: 10px;
}

.item {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.item span {
	color: #ccc;
}

.item input {
	padding: 10px;
	line-height: 20px;
	margin-top: 10px;
	border-radius: 6px;
	border: none;
	background: #272727;
	color: #c8c8c8;
}

.item button {
	cursor: pointer;
	border: none;
	border-radius: 6px;
	padding: 10px;
	line-height: 20px;
	color: #fff;
	background-color: #4773a3;
}

.item button:hover {
	opacity: .8;
}